

:root {
  
  --color-blue-info-25: #F1F9FD; 
  --color-blue-info-50: #CCEDFD; 
  --color-blue-info-500: #3FB1E2; 
  --color-blue-info-700: #17749B; 
  --color-green-brand-25: #ECF7F0; 
  --color-green-brand-50: #C7F4BE; 
  --color-green-brand-200: #70C28B; 
  --color-green-brand-500: #009330; 
  --color-green-brand-600: #008029; 
  --color-green-brand-700: #006421; 
  --color-green-brand-900: #003310; 
  --color-green-sucess-50: #DBEFE2; 
  --color-green-sucess-500: #00B33C; 
  --color-green-sucess-800: #004D1A; 
  --color-neutrals-0: #FFFFFF; 
  --color-neutrals-0-0: rgba(255, 255, 255, 0); 
  --color-neutrals-50: #FBFCFD; 
  --color-neutrals-100: #F8F9FB; 
  --color-neutrals-200: #F6F8FA; 
  --color-neutrals-300: #F2F4F8; 
  --color-neutrals-400: #E6E9ED; 
  --color-neutrals-500: #CCD1D9; 
  --color-neutrals-600: #AAB2BD; 
  --color-neutrals-700: #656D78; 
  --color-neutrals-800: #434A54; 
  --color-neutrals-900: #1C1C1F; 
  --color-orange-warning-25: #FFF4E5; 
  --color-orange-warning-500: #F28F00; 
  --color-orange-warning-700: #B46A00; 
  --color-red-error-25: #FEE7E8; 
  --color-red-error-600: #CF2A34; 
  --color-red-error-800: #801A20; 
  --color-yellow-brand-25: #FFFAE5; 
  --color-yellow-brand-200: #FFE580; 
  --color-yellow-brand-500: #FFCE00; 
  --color-yellow-brand-600: #E5B800; 
  --color-yellow-brand-900: #665200; 

  
  --sizing-size-0: 0px; 
  --sizing-size-1: 1px; 
  --sizing-size-2: 2px; 
  --sizing-size-4: 4px; 
  --sizing-size-6: 6px; 
  --sizing-size-8: 8px; 
  --sizing-size-12: 12px; 
  --sizing-size-16: 16px; 
  --sizing-size-20: 20px; 
  --sizing-size-24: 24px; 
  --sizing-size-28: 28px; 
  --sizing-size-32: 32px; 
  --sizing-size-36: 36px; 
  --sizing-size-40: 40px; 
  --sizing-size-44: 44px; 
  --sizing-size-48: 48px; 
  --sizing-size-56: 56px; 
  --sizing-size-64: 64px; 
  --sizing-size-80: 80px; 
  --sizing-size-96: 96px; 
  --sizing-size-112: 112px; 
  --sizing-size-128: 128px; 
  --sizing-space-full: 9999px; 

  
  --border-width-0: var(--sizing-size-0); 
  --border-width-1: 1px; 
  --border-width-2: var(--sizing-size-2); 
  --border-width-3: var(--sizing-size-4); 
  --sizing-border-1: var(--sizing-size-1); 
  --sizing-border-2: var(--sizing-size-2); 
  --sizing-border-3: var(--sizing-size-4); 
  --sizing-corner-1: var(--sizing-size-4); 
  --sizing-corner-2: var(--sizing-size-8); 
  --sizing-corner-3: var(--sizing-size-16); 
  --sizing-corner-4: var(--sizing-size-24); 
  --sizing-corner-5: var(--sizing-size-36); 
  --sizing-corner-full: var(--sizing-space-full); 
  --sizing-corner-nule: var(--sizing-size-0); 
  --sizing-gap-1: var(--sizing-size-1); 
  --sizing-gap-2: var(--sizing-size-2); 
  --sizing-gap-3: var(--sizing-size-4); 
  --sizing-gap-4: var(--sizing-size-8); 
  --sizing-gap-5: var(--sizing-size-12); 
  --sizing-gap-nule: var(--sizing-size-0); 
  --sizing-padding-1: var(--sizing-size-2); 
  --sizing-padding-2: var(--sizing-size-4); 
  --sizing-padding-3: var(--sizing-size-8); 
  --sizing-padding-4: var(--sizing-size-12); 
  --sizing-padding-5: var(--sizing-size-16); 
  --sizing-padding-6: var(--sizing-size-20); 
  --sizing-padding-7: var(--sizing-size-24); 
  --sizing-padding-8: var(--sizing-size-32); 
  --sizing-padding-9: var(--sizing-size-36); 
  --sizing-padding-10: var(--sizing-size-40); 
  --sizing-padding-nule: var(--sizing-size-0); 

  
  --color-btn-primary-bg: var(--color-green-brand-500); 
  --color-btn-primary-hover-bg: var(--color-green-brand-700); 
  --color-btn-primary-label: var(--color-neutrals-0); 
  --color-btn-secondary-bg: var(--color-neutrals-0-0); 
  --color-btn-secondary-border-active: var(--color-green-brand-500); 
  --color-btn-secondary-hover-bg: var(--color-green-brand-25); 
  --color-btn-secondary-label: var(--color-green-brand-500); 
  --color-surface-danger-bg: var(--color-red-error-25); 
  --color-surface-primary-bg: var(--color-neutrals-100); 
  --color-surface-success-bg: var(--color-green-sucess-50); 
  --color-text-danger: var(--color-red-error-800); 
  --color-text-primary: var(--color-neutrals-900); 
  --color-text-secondary: var(--color-neutrals-600); 
  --color-text-success: var(--color-green-sucess-800); 

  
  --text-body-1: 400 16px/22px var(--font-lato); 
  --text-body-1-black: 900 16px/22px var(--font-lato); 
  --text-body-1-bold: 700 16px/22px var(--font-lato); 
  --text-body-1-bold-underline: 700 16px/22px var(--font-lato); 
  --text-body-1-bold-underline-decoration: underline; 
  --text-body-1-semibold: 600 16px/22px var(--font-lato); 
  --text-body-2: 400 14px/20px var(--font-lato); 
  --text-body-2-black: 900 14px/20px var(--font-lato); 
  --text-body-2-bold: 700 14px/20px var(--font-lato); 
  --text-body-2-bold-underline: 700 14px/20px var(--font-lato); 
  --text-body-2-bold-underline-decoration: underline; 
  --text-body-2-semibold: 600 14px/20px var(--font-lato); 
  --text-body-l: 400 20px/1.5 var(--font-lato); 
  --text-body-m: 400 18px/1.5 var(--font-lato); 
  --text-body-s: 400 16px/1.5 var(--font-lato); 
  --text-body-s-strong: 700 16px/1.5 var(--font-lato); 
  --text-body-xs: 400 14px/1.5 var(--font-lato); 
  --text-body-xs-140: 400 14px/1.4 var(--font-lato); 
  --text-body-xs-strong: 700 14px/1.5 var(--font-lato); 
  --text-caption-s: 400 12px/1.4 var(--font-lato); 
  --text-caption-1: 400 12px/16px var(--font-lato); 
  --text-caption-1-bold: 700 12px/16px var(--font-lato); 
  --text-caption-1-bold-uppercase: 700 12px/16px var(--font-lato); 
  --text-caption-1-bold-uppercase-case: uppercase; 
  --text-display-1: 700 24px/24px var(--font-brevia); 
  --text-display-1-letter-spacing: -0.04em; 
  --text-display-2: 700 48px/56px var(--font-brevia); 
  --text-display-2-letter-spacing: -0.04em; 
  --text-heading-l-strong: 900 40px/1.2 var(--font-lato); 
  --text-heading-l-strong-letter-spacing: -0.01em; 
  --text-heading-m-strong: 900 32px/1.2 var(--font-lato); 
  --text-heading-m-strong-letter-spacing: -0.01em; 
  --text-heading-s-strong: 900 28px/1.2 var(--font-lato); 
  --text-heading-s-strong-letter-spacing: -0.01em; 
  --text-heading-xl-strong: 900 48px/1.2 var(--font-lato); 
  --text-heading-xl-strong-letter-spacing: -0.01em; 
  --text-heading-xs-strong: 900 20px/1.2 var(--font-lato); 
  --text-heading-xs-strong-letter-spacing: -0.01em; 
  --text-heading-xxl-strong: 900 64px/1.2 var(--font-lato); 
  --text-heading-xxl-strong-letter-spacing: -0.01em; 
  --text-heading-xxs-strong: 900 16px/1.2 var(--font-lato); 
  --text-heading-xxs-strong-letter-spacing: -0.01em; 
  --text-heading-1: 600 16px/22px var(--font-brevia); 
  --text-heading-2: 600 18px/24px var(--font-brevia); 
  --text-heading-2-bold: 700 18px/24px var(--font-brevia); 
  --text-heading-3: 600 20px/26px var(--font-brevia); 
  --text-heading-3-bold: 700 20px/26px var(--font-brevia); 
  --text-heading-4: 600 24px/32px var(--font-brevia); 
  --text-heading-4-bold: 700 24px/32px var(--font-brevia); 
  --text-metric-text-metric: 600 32px/40px var(--font-lato); 
  --text-subtitle-l: 700 20px/1.2 var(--font-lato); 
  --text-subtitle-l-letter-spacing: -0.01em; 
  --text-subtitle-m: 700 18px/1.2 var(--font-lato); 
  --text-subtitle-m-letter-spacing: -0.01em; 
  --text-subtitle-s: 700 16px/1.2 var(--font-lato); 
  --text-subtitle-s-letter-spacing: -0.01em; 
  --text-subtitle-1: 600 18px/24px var(--font-lato); 
  --text-subtitle-1-bold: 700 18px/24px var(--font-lato); 
  --text-subtitle-2: 700 24px/32px var(--font-lato); 
  --text-xl-black-body-36: 900 36px/44px var(--font-lato); 
  --text-xl-black-body-40: 900 40px/48px var(--font-lato); 
  --text-xl-black-body-44: 900 44px/52px var(--font-lato); 
  --text-xl-black-body-48: 900 48px/56px var(--font-lato); 
  --text-xl-black-body-56: 900 56px/24px var(--font-lato); 
  --text-xl-black-body-64: 900 64px/72px var(--font-lato); 
  --text-xl-black-body-72: 900 72px/80px var(--font-lato); 
  --text-xl-bold-body-36: 700 36px/44px var(--font-lato); 
  --text-xl-bold-body-40: 700 40px/48px var(--font-lato); 
  --text-xl-bold-body-44: 700 44px/52px var(--font-lato); 
  --text-xl-bold-body-48: 700 48px/56px var(--font-lato); 
  --text-xl-bold-body-56: 700 56px/64px var(--font-lato); 
  --text-xl-bold-body-64: 700 64px/72px var(--font-lato); 
  --text-xl-bold-body-72: 700 72px/80px var(--font-lato); 
  --text-xl-regular-body-36: 600 36px/44px var(--font-lato); 
  --text-xl-regular-body-40: 400 40px/48px var(--font-lato); 
  --text-xl-regular-body-44: 400 44px/52px var(--font-lato); 
  --text-xl-regular-body-48: 400 48px/56px var(--font-lato); 
  --text-xl-regular-body-56: 600 56px/64px var(--font-lato); 
  --text-xl-regular-body-64: 400 64px/72px var(--font-lato); 
  --text-xl-regular-body-72: 400 72px/80px var(--font-lato); 
  --text-xl-semibold-body-36: 700 36px/44px var(--font-lato); 
  --text-xl-semibold-body-40: 600 40px/48px var(--font-lato); 
  --text-xl-semibold-body-44: 600 44px/52px var(--font-lato); 
  --text-xl-semibold-body-48: 600 48px/56px var(--font-lato); 
  --text-xl-semibold-body-56: 600 56px/64px var(--font-lato); 
  --text-xl-semibold-body-64: 600 64px/72px var(--font-lato); 
  --text-xl-semibold-body-72: 600 72px/80px var(--font-lato); 

  
  --overlay-blur: blur(4px); 
  --overlay-normal: blur(4px); 
  --overlay-overlay-blur: blur(4px); 
  --shadow-2xl: 0 24px 48px -12px rgba(16, 24, 40, 0.18); 
  --shadow-3xl: 0 32px 64px -12px rgba(16, 24, 40, 0.14); 
  --shadow-large: 0 4px 6px -2px rgba(16, 24, 40, 0.03), 0 12px 16px -4px rgba(16, 24, 40, 0.08); 
  --shadow-medium: 0 2px 4px -2px rgba(16, 24, 40, 0.06), 0 4px 8px -2px rgba(16, 24, 40, 0.1); 
  --shadow-presentation: 0 0 28px -2px rgba(16, 24, 40, 0.05), 0 0 16px -4px rgba(16, 24, 40, 0.1); 
  --shadow-small: 0 1px 2px 0 rgba(16, 24, 40, 0.06), 0 1px 3px 0 rgba(16, 24, 40, 0.1); 
  --shadow-xl: 0 8px 8px -4px rgba(16, 24, 40, 0.03), 0 20px 24px -4px rgba(16, 24, 40, 0.08); 
  --shadow-xs: 0 1px 2px 0 rgba(16, 24, 40, 0.05); 
}
